/*
NOTE: In order to find component-specific sections of CSS, search this document
for our delimiter: ||
*/

/* || General */

* {
    color: #585858;
    font-family: 'Montserrat', Montserrat;
    font-weight: bold;
}

/* this element is the 'Choose File' button for image uploads */
::-webkit-file-upload-button {
    cursor: pointer;
}

body {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 30% 10% 17%;
    justify-items: stretch;

    /* mess around by removing one column/row of the grid */
    grid-template-areas:
        'title title title title title'
        'todo todo note note goal'
        'todo todo note note goal'
        'todo todo note note album'
        'todo todo note note album';
}

h1 {
    font-size: 3.5vh;
    margin: 1vh;
}

h2 {
    font-size: 2vh;
}

/* || Header Block */

#date {
    display: block;
    font-size: 5vh;
    grid-area: date;
    justify-self: center;
}

#header {
    display: grid;
    grid-area: title;

    /* removing back button, update grid area */
    grid-template-areas: 'one two date three four headerHome';
    height: 9vh;
    justify-items: stretch;
    margin: 2vh;
}

#home {
    grid-area: headerHome;
    height: 8vh;
    margin: 2vh;
}

#home:hover {
    cursor: pointer;
    opacity: 0.5;
}

#logo1 {
    grid-area: one;
    height: 10vh;
    margin: 1vh;
}

#logo2 {
    grid-area: two;
    height: 10vh;
    margin: 1vh;
}

#logo3 {
    grid-area: three;
    height: 10vh;
    margin: 1vh;
}

#logo4 {
    grid-area: four;
    height: 10vh;
    margin: 1vh;
}

/* || Todo Block */

#entry-button {
    cursor: pointer;
}

.entry-form {
    height: 3vh;
    padding: 0.7vh;
}

.entry-form-button {
    background-color: var(--bg-color);
    border-radius: 0.5vh;
    border: none;
    font-size: 1.5vh;
    height: 100%;
    width: 6vh;
}

.entry-form-text {
    font-size: 1.5vh;
    height: 80%;
    width: 50%;
}

#todo {
    background-color: white;
    border-color: black;
    border-radius: 2vw;
    border-style: solid;
    border-width: 1mm;
    grid-area: todo;
    height: 75vh;
    margin: 1vw;
    min-height: 35vw;
    overflow: auto;
    padding: 1vw 3vw 1vw 2vw;
    width: 80%;
}

#todo::-webkit-scrollbar {
    display: none; /* color of the tracking area */
}

/* || Note Block */

#notes {
    background-color: white;
    border-color: black;
    border-radius: 2vw;
    border-style: solid;
    border-width: 1mm;
    grid-area: note;
    height: 75vh;
    margin: 1vw;
    min-height: 35vw;
    padding: 1vw;
    position: relative;
}

#notes-dino {
    bottom: -3vh;
    height: 13vh;
    position: absolute;
    right: 55vh;
    width: 10vw;
}

#notes-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#notes-save {
    background-color: white;
    border-color: white;
    border-style: solid;
    box-shadow: none;
    color: #38b593;
    cursor: pointer;
    font-size: 1.5vh;
    height: fit-content;
    margin-right: 1.2vw;
}

#notes-save:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* || Goal Reminder Block */

#goalReminder {
    background-color: white;
    border-color: black;
    border-radius: 2vw;
    border-style: solid;
    border-width: 1mm;
    display: grid;
    grid-area: goal;
    grid-template-rows: [title] 15% [month] 40% [year] 40%;
    margin: 1vw;
    padding: 0.5vw;
}

#goalReminder + h1 {
    grid-row-start: title;
}

#monthGoal {
    grid-row-start: month;
    height: 8.5vh;
    max-height: 10vh;
    overflow: auto;
}

#monthGoal > h2 {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
}

#yearGoal {
    grid-row-start: year;
    height: 8.5vh;
    max-height: 10vh;
    overflow: auto;
}

#yearGoal > h2 {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
}

/* || Photo Album Block */

button#left,
button#right {
    background-color: transparent;
    border: none;
    font-size: 2vh;
}

#myCanvas {
    border: 2px solid #000000;
    height: 70%;
    width: 100%;
}

#photo-album {
    background-color: white;
    border-color: black;
    border-radius: 2vw;
    border-style: solid;
    border-width: 1mm;
    grid-area: album;
    margin: 1vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
}

#delete,
#image-input,
#left,
#right,
#save {
    background-color: white;
    border-color: white;
    border-style: solid;
    box-shadow: none;
    color: #38b593;
    cursor: pointer;
    font-size: 1.5vh;
    height: fit-content;
}

#save:hover,
#delete:hover {    
    cursor: pointer;
    text-decoration: underline;
}
